.kosar-container {
    align-items: center;
    background-image: url('/images/big-bg-cart.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 88px;
    width: 100%;
}

.kosar-container h1 {
    background-color: #fff;
    margin: auto;
    text-align: center;
}

.kosar-kontener {
    align-items: center;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    min-height: 100vh;
    margin: 20px auto;
    width: 80%;
}

.kosar-elem {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white, -5px -5px 5px white;
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 350px;
    padding: 1em;
}

.kosar-elem img {
    height: 200px;
    object-fit: cover;
    width: 200px;
}

.kosar-elem button {
    cursor: pointer;
    font-size: 2em;
    padding: 5px;
}

@media screen and (max-width: 1400px) {
    .kosar-kontener {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .kosar-kontener {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 670px) {
    .kosar-container {
        background-image: none;
        background-color: aquamarine;
    }

    .kosar-kontener {
        grid-template-columns: repeat(1, 1fr);
    }

    .kosar-elem {
        background-image: url('/images/big-bg-cart.jpg');
        background-size: cover;
        background-position: center;
        color: whitesmoke;
    }

    .kosar-elem h1 {
        background-color: black;
    }
}
