.home-container {
    align-items: center;
    background-image: url('/images/big-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: min(90.4vh);
    justify-content: center;
    margin-top: 88px;
    width: 100%;
}

.home-kategoriak {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin: auto;
}

.home-kategoria {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white, -5px -5px 5px white;
    display: flex;
    justify-content: center;
    padding: 3em;
    width: 100%;
}

.home-kategoria a {
    color: blue;
    cursor: pointer;
    font-size: 3em;
    text-decoration: none;
}

@media screen and (max-width: 1300px) {
    .home-kategoriak {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .home-kategoriak {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 950px) {
    .home-kategoriak {
        grid-template-columns: repeat(1, 1fr);
    }
}
