.zoldsegek-container {
    align-items: center;
    background-image: url('/images/big-bg-vegetables.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.zoldsegek-kontener {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    padding-top: 2em;
    width: 80%;
}

.zoldseg-container {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white, -5px -5px 5px white;
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 90%;
    justify-content: center;
    padding: 1em;
}

.zoldseg-container img {
    height: 60%;
    object-fit: cover;
    width: 80%;
}

.zoldsegek-szamlalo {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.zoldsegek-szamlalo .material-symbols-outlined {
    background-color: #bbbbbb;
    cursor: pointer;
    height: 30px;
    font-size: 30px;
    user-select: none;
    width: 30px;
}

@media screen and (max-width: 1200px) {
    .zoldsegek-container {
        margin-top: 80px;
    }

    .zoldsegek-kontener {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .zoldsegek-container {
        margin-top: 80px;
    }

    .zoldsegek-kontener {
        grid-template-columns: repeat(1, 1fr);
    }
}
